extends ./templates/embedMain
include ./mixins/navbar

block main
	br
	h1.text-center.text-primary Article Page
	br
	.row
		.offset-lg-2.col-lg-8.jumbotron
			.offset-lg-2.col-lg-8
				h2#article.text-center.text-primary !{data.title}
				a.text-info.float-right(href=data.link)
					i.fa.fa-external-link(aria-hidden="true")
			br
			br
			br
			.offset-lg-1.col-lg-10
				each val in summary
					p !{val}
			br
			br
			br
			.offset-lg-2.col-lg-8
				h3.text-center Leave a comment
				textarea#text.form-control
				br
				button#submit.btn.btn-primary.float-right Submit
				span#short.text-danger.hidden Minimum of 25 characters needed!
			br
			br
			br
			.offset-lg-2.col-lg-8
				h4.text-center Comments
				br
				each val in comments
						div.block-color
							p !{val.text_body}
							span.float-right !{val.date}
						br
						br
block scripts
	script(src="../assets/js/scripts.js")